# Python-related files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/

# Distribution files - except our exe
*.egg-info/
*.egg

# IDE files
.idea/
.vscode/
*.swp
.DS_Store

# Except our key files
!git_helper.py
!README.md
!build.bat
!dist/
!dist/** 